body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #001;
}

.grid{
  display: grid;
  grid-template-columns: 600px 50%;
}

.grid > div{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 300px;
}

.reload{
  color:#fff;
  background: #333;
  border-radius: 1px;
  padding: 5px;
  margin: 5px;
  transition: 0.5s;
}

.reload:hover{
  color:#000;
  background: #fff;
  border-radius: 2px;
  cursor: default;
}